<h1>Editando Cliente</h1>

<%= render 'form', client: @client %>

<br>

<%= link_to @client, class:"btn btn-info" do %>
  <i class="fas fa-eye"></i> Mostrar
<% end %> |

<%= link_to clients_path, class:"btn btn-warning" do%>
  <i class="fas fa-arrow-left"></i> Voltar
<% end %>
