<h1>Novo Cliente</h1>

<br>

<%= render 'form', client: @client %>

<br>

<%= link_to clients_path, class:"btn btn-warning" do%>
  <i class="fas fa-arrow-left"></i> Voltar
<% end %>

<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4 navbar-fixed-bottom">
  <div class="footer-copyright text-center py-3">
    <p class="back-link"> Lumino Theme By <a href="https://www.medialoot.com"> Medialoot </a></p>
  </div>
</footer>
<!-- Footer -->